<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
  </head>
  <body>
    <h1>Welcome to my website!</h1>
    <p>This is a simple HTML template.</p>
    <div>
      {% for todo in todos %}
      <a href="{% url 'detail-view' todo.id %}">{{todo.title}}</a>
      {% endfor %}
    </div>
    <form method="post">
      {% csrf_token %}
      <input name="title" placeholder="Input Title" />
      <textarea name="task" placeholder="Input Task"></textarea>
      <button>Input Todo</button>
    </form>
  </body>
</html>
